.testimonial-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
}
.testimonial-title h2{
    font-size: 3.5rem;
    font-weight: normal;
    font-family: 'Old Standard TT', serif;
}

.testimonial-title span{
    color: #c5a880;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.swiper-container{
    width: 100%;
}
  
  .swiper {
    width: 100%;
    height: 100%;
    /* padding: 0px 2rem; */
  }
  
  .swiper-slide {
    /* text-align: center; */
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    padding: 2rem 0rem 2rem 0rem;
    cursor: pointer;
  }
  .slide-detail{
    display: flex;
    align-items: center;
   gap: 2rem;
   /* padding-left: 2rem;
   padding-top: 2rem; */
  }
  .profile{
    position: relative;
  }
  .profile i{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.3rem;
    color: white;
    background-color: #c5a880;
    width: 40px;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .person-detail p{
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }
  .person-detail span{
    color: #c5a880;
    font-family: 'Nunito', sans-serif;
  }
  .detail {
    width: 300px;
    padding: 2rem 0px;
  }
  .detail p{
    color: gray;
    font-family: 'Nunito', sans-serif;
    font-style: 17px;
  }
  
  