.check-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
      padding: 0px 2rem;
}
.check-side{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2.8rem 1rem;
    color: white;
    background-color: #212529;
    padding-left: 2rem;
}
.in-date input,
.out-date input,
.room input,
.guest input{
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
  padding: .5rem;
  width: 130px;
  outline: none;
  font-family: 'Nunito', sans-serif;
  margin: 5px 0px 0px 5px;
  font-size: 17px;
  font-weight: 600;

}
.in-date i,
.out-date i,
.room i,
.guest i{
    color:rgba(255, 255, 255, 0.4) ;
}
.in-date p,
.out-date p,
.room p,
.guest p{
 font-size: 15px;
 font-family: 'Nunito', sans-serif;
 font-weight: 700;
}

.check-btn{
    background-color: #c5a880;
    padding: 3rem 2rem;
    text-align: center;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .check-container{
        flex-direction: column;
    }
    .check-side{
        width: 100%;
        
    }
    .check-btn{
       width: 100%;
      padding: 1rem 1.5rem;
    }
      

}
@media (max-width: 850px) {
    .check-side{
   
        padding-left: 0;
    }
    .in-date input,
.out-date input,
.room input,
.guest input{
    width: 600px;
}
.check-btn{
    width: 88%;
    padding: 1rem 3.3rem;
 }
}
@media (max-width: 750px) {
    .check-side{
        flex-direction: column;
    }
    .in-date input,
.out-date input,
.room input,
.guest input{
    width: 500px;
}
.check-btn{
    width: 85%;
 }
}
@media (max-width: 630px) {
    .check-side{
        flex-direction: column;
    }
    .in-date input,
.out-date input,
.room input,
.guest input{
    width: 400px;
}
.check-btn{
    width: 82%;
 }
}
@media (max-width: 530px) {
    .in-date input,
    .out-date input,
    .room input,
    .guest input{
        width: 300px;
    }
    .check-btn{
        width: 80%;
     }
}
@media (max-width: 455px) {
    .in-date input,
    .out-date input,
    .room input,
    .guest input{
        width: 200px;
    }
    .check-btn{
        width: 75%;
     }
}
@media (max-width: 400px) {
    .in-date input,
    .out-date input,
    .room input,
    .guest input{
        width: 200px;
    }
    .check-btn{
        width: 68%;
     }
}