.service-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}
.service-container h1{
    font-size: 35px;
    font-weight: 600;
    font-family: 'Domine', serif;
    margin: 20px 0;
}
.service-container span{
    color: rgb(226, 192, 187);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.service-container p {
    color: #999999;
}
.travel{
    width: 80px;
    position: absolute;
    top: 50%;
    left:55%;
    transform: translate(-50%,-50%);
}
.card{
   width: 80%;
    height: 50vh;
    display: flex;
}
.box{
    width:300px;
    height: 50vh;
    margin: 50px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.box-image{
    width: 180px;
    height: 200px;
}
.box h4{
    font-weight: 600;

}
.box p{
    width: 250px;
    color: #999999;
}