.resto-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0px 3rem 0px;
    justify-content: center;
}
.resto-title span{
    color: #c5a880;
    font-family: 'Nunito', sans-serif;
}
.resto-title h2{
    font-size: 2.7rem;
    color: black;
    font-family: 'Old Standard TT', serif;
}
.resto-main-container,
.resto-container{
    width: 100%;
    /* padding: 10rem 0px; */
}
.resto-sides{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.resto-left{
   width: 40%;
   height: 85vh;
   position: relative;
}
.resto-left::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.349);
    opacity: .9;
}
.cooking{
    width: 12%;
    background-color: #c5a880;
    padding: 2rem 1rem;
    border-radius: 8px;
    position: absolute;
    right: -9%;
    top: 42%;
}
.cooking img{
    width: 50px;
}
.resto-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.resto-right{
    width: 45%;
    
}
.resto-cards {
    display: flex;
    justify-content: flex-start; /* Align items at the start of the container */
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap */
    gap: .5rem;
}

.resto-card {
    box-sizing: border-box;  
     flex: 1 1 calc(50% - .5rem); 
     display: flex;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
    background-color: white;
    padding: 2.5rem  2rem;
    max-width: calc(50% - .5rem); 
}

.resto-card:hover{
    background-color: black;
    color: white;
    transition: 0s ease-in;
}
.resto-card p{
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}
.resto-card span{
    color: #c5a880;
    font-family: 'Nunito', sans-serif;
}
.resto-card img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
@media (max-width:1150px){
    .resto-sides{
        flex-direction: column;
        align-items: center;
    }
    .resto-left{
        width: 100%;
    }
    .cooking{
        height: 100px;
        width: 100px;
        position: absolute;
        bottom: -10%;
        right: 40%;
    }
    .resto-right{
        width: 100%;
    }
    .resto-cards {
        display: flex;
        justify-content: space-between; /* Use space-between to evenly distribute the cards */
        flex-wrap: wrap;
        gap: 1rem; /* Maintain a gap for spacing */
        padding: 0px 1rem;
    }
    
    .resto-card {
        box-sizing: border-box;
        flex: 1 1 calc(50% - 1rem); /* Adjust flex basis for two cards per row, accounting for the gap */
        display: flex;
        justify-content: center;
        gap: 1rem;
        box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
        background-color: white;
        padding: 2.5rem; /* Adjust padding as needed */
        max-width: calc(50% - 1rem); /* Ensure cards do not exceed half the container width minus the gap */
    }
    
    
}