.other{
    height: 85vh;
}
.other-hero{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    gap: 1rem;
    color:  white;
    justify-content: center;
}
.links p{
    color: white;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.link{
    text-decoration: none;
}
.title h1{
    color: white;
    font-size: 4.5rem;
    font-family: 'Old Standard TT', serif;
}

@media (max-width:500px){
    .title h1{

        font-size: 3.5rem;
    }
}